fastapi==0.100.0
psycopg2-binary==2.9.6
alembic==1.11.1
pandas==2.0.3
uvicorn==0.22.0
databases==0.7.0
asyncpg==0.28.0
SecretStorage==3.3.3
SQLAlchemy==1.4.49
GeoAlchemy2==0.14.1
pydantic==2.5.2
pydantic-settings==2.1.0
geojson-pydantic==1.0.1
python-dotenv==1.0.0
python-multipart==0.0.5
Pillow==10.0.1
geopy==2.3.0
ipython==8.14.0
werkzeug==3.0.1
python-jose[cryptography]==3.3.0